<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">APROPOS DE LA MAIRIE DE POTO-POTO</h2>
      <h3 class="section-subheading text-muted">
        L’arrondissement 3 Poto-Poto s’étend au nord du centre-ville pour être limité au nord-ouest par
        l’arrondissement 4 Moungali, tandis que l’arrondissement 5 Ouenzé est frontalier Poto-poto au nord.
        Si au sud-ouest, Poto-poto est mitoyen à Bacongo, en revanche au sud et à l’est,
        l’arrondissement 3 Poto-poto est arrosé par les eaux du majestueux fleuve Congo. il a une population de 101.
        000 habitants avec une superficie de 900 ha.
      </h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/1.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <!--<h4>2009-2011</h4>-->
            <h4 class="subheading">Historique</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted"  style="text-align: justify;">
              Poto-poto est un village de création administrative coloniale née du regroupement des campements
              des travailleurs africains et des hameaux de la plaine.
              Dans son évolution, il a été alimenté par l’exode rural des populations riveraines du fleuve Congo,
              le deuxième plus grand fleuve du monde après l’Amazonie par son débit, du haut Congo, de l’Oubangui
              Chari, du Congo Belge que les bateaux de l’administration coloniale, des missionnaires embarquaient
              en masse pour Brazzaville. Cette diversité a donné à Poto-poto ces deux grands traits d’affluence
              démographique. Les appellations des rues les plus anciennes de la cité évoquent la composition
              ethnique très variée et très cosmopolite de ses premiers habitants à l’image de sa population
              d’environ actuelle. Mongo, Dahomey, Yaoundé, Bangalas, Haoussas, Kassaï, Banziris, Bakongo, etc…
              Ressortissant du haut Congo, Bas Congo, de l’Afrique Centrale et de l’Afrique Occidentale.
          </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/2.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>1911</h4>
            <h4 class="subheading">Création</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              La commune de Poto-poto fut créée en 1911 pour être Commune indigène par arrêté n°2623 du 31 décembre
              1943 du gouverneur général de l’AEF, officier de la légion d’honneur Félix EBOUE.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/3.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>1945</h4>
            <h4 class="subheading">Jean Hilaire AUBAME</h4>
          </div>
          <div class="timeline-body"><p class="text-muted">
            Nomination du premier maire noire.
          </p></div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/images/about/4.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <!--<h4>July 2020</h4>-->
            <h4 class="subheading">Contact</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Administrateur-Maire : M. Jacques ELION Secrétaire Général : Mme Augustine Sophie DOUNGOUS Mairie de
              Poto-Poto Rond Point Poto-Poto (croisement avenue de France et avenue de la paix) Brazzaville,
              République du Congo Tél: +242 22.260.00.72
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Mairie
            <br />
            de
            <br />
            POTO-POTO
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
