<div class="bg-other">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Reinitialisation du mot de passe</h5>
            <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
            <form [formGroup]="resetForm" (ngSubmit)="onReset()">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="ben@easy-declare.com">
                <!--Check if exists-->
                <div *ngIf="resetForm.get('email').touched &&
                      resetForm.get('email').hasError('required')"
                     class="text-danger">L'Email est requis
                </div>

                <!--Check if invalid-->
                <div *ngIf="resetForm.get('email').touched &&
                resetForm.get('email').hasError('email')"
                     class="text-danger">Votre Email est invalide
                </div>
                <label for="floatingInput">Saisir votre adresse email</label>
              </div>

              <div class="d-grid">
                <div *ngIf="isLoading" class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="sr-only">Chargement...</span>
                  </div>
                </div>
                <button *ngIf="!isLoading" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">
                  <i class="fa-solid fa-envelope me-2"></i>
                  Soumettre
                </button>
              </div>
            </form>
            <br>
            <p class="text-center" (click)="goBack()">
              <button class="btn btn-outline-info">
                <i class="fa-solid fa-arrow-rotate-left me-2"></i>
                Retour à l'accueil
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
